:root {
    /* common */

    /* bottom menu*/
    --active-menu-icon-color: #eea241;
    --menu-icon-color: #afafaf;
    --menu-bg-color: #ffffff;
    --menu-item-title-color: #afafaf;
}

.view-changing-btn {
    color: #000;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.04), 0 4px 28px 0 rgba(0, 0, 0, 0.08);;
}