<!-- todo deprecated-->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      th:fragment="base(title, contentFragment)">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/favicon.ico" />
  <title th:text="${title}">Базовый шаблон</title>

  <script src="https://api-maps.yandex.ru/v3/?apikey=65f872b3-e2bf-4d2b-a368-27af097ace82&lang=ru_RU"></script>
  <script src="/js/ymap.js"></script>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
  <link href="/styles/common.css" rel="stylesheet">
  <link href="/styles/nav.css" rel="stylesheet">
  <link href="/styles/themes/light.css" rel="stylesheet">
  <link href="/styles/themes/dark.css" rel="stylesheet">
  <link href="/styles/spot-list.css" rel="stylesheet">
</head>
<body>

<!-- Общий заголовок (header) -->
<header class="bg-light p-3 text-center">
  <h1>Spotic</h1>
</header>

<!-- Место для уникального контента -->
<div th:replace="${contentFragment}" class="container my-3">
</div>

<div>
  Logged user: <span sec:authentication="name">Bob</span>
</div>
<div sec:authorize="isAuthenticated()">
  authenticated
</div>

<a href="/sign-in">войти</a>
<a href="/sign-up">зарегистрироваться</a>
<a href="/logout">выйти</a>

<!-- Нижнее меню -->
<div th:insert="~{layouts/bottom_menu :: bottom_menu}"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
</body>
</html>