spring:
  application:
    name: Xmap-API
  liquibase:
    enabled: true
    default-schema: public
    change-log: classpath:db/changelog/main-changelog.xml

  datasource:
    url: jdbc:postgresql://localhost:5432/xmap
    username: xmap_admin # локальные данные спалили :_)
    password: 123
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 20MB

  #jpa:
    #show-sql: true
    #properties:
      #hibernate:
        #format_sql: true  # SQL более читабельный, разбивается на несколько строк

server:
  port: 8080
  # для доступа в локальной сети
  address: 0.0.0.0
  #для HTTPS, SSL шифрования и использования keypair
  # ssl: Пока без ssl на линуксе
  #  enabled: true
  #  key-store-type: PKCS12
  #  key-store: classpath:ssl/xmap_ssl.pfx
  #  key-store-password: rootroot


#logging:
#  file:
#    # magic is spring will transfer logging.file.path into System properties LOG_PATH
#    path: ~/xmap/Xmap-API/logs
#  level:
#    root: debug
#    web: debug
#    jakarta: debug

xmap-api:
  s3-file:
    # URN (Uniform Resource Name) - URL без scheme (без http://)
    download-link-template: "/api/v1/s3-file/{id}"
    download-link-path-param: "{id}"




















