debug: true

spring:
  application:
    name: Xmap-API
  liquibase:
    enabled: true
    default-schema: public
    change-log: classpath:db/changelog/main-changelog.xml

  datasource:
    url: jdbc:postgresql://localhost:5432/xmap
    username: xmap_admin # локальные данные спалили :_)
    password: 3485

  security:
    oauth2:
      resourceserver:
        jwt:
          # сертификаты auth server для проверки access token
          jwk-set-uri: https://localhost:8443/realms/xmap-realm/protocol/openid-connect/certs

      #jpa:
    #show-sql: true
    #properties:
      #hibernate:
        #format_sql: true  # SQL более читабельный, разбивается на несколько строк

server:
  port: 8090
  #для HTTPS, SSL шифрования и использования keypair
  ssl:
    enabled: true
    # формат файла, в котором хранится открытый и закрытый ключи
    key-store-type: PKCS12
    key-store: classpath:ssl/spotic_container.p12
    key-store-password: changeit
    # провайдер (движок), который реализует CryptoAPI (включен в jdk)
    key-store-provider: SunJSSE

logging:
  file:
    # magic is spring will transfer logging.file.path into System properties LOG_PATH
    path: ./logs
  level:
    root: debug
    org.springframework: debug


xmap-api:
  spot-image:
    # URN (Uniform Resource Name) - URL без scheme (без http://)
    download-urn-template: "/api/v1/s3-file/spot-image/{spotId}"
    download-urn-path-param: "{spotId}"
  frontend.url: https://localhost:4200





















