# Установка базовых пакетов через dnf
- name: Ensure basic packages are installed
  dnf:
    name:
      - vim
      - git
      - curl
      - wget
      - htop
      - unzip
      - tar
      - firewalld
      - podman
      - podman-docker
      - podman-compose
      - rsync
    state: present

# Создание пользователя deployer
- name: Create deployer user
  user:
    name: deployer
    shell: /bin/bash
    groups: wheel
    append: yes
    create_home: yes

# Добавляем SSH-ключи для deployer в deployer/.ssh/authorized_keys
- name: Authorize SSH key for deployer
  authorized_key:
    user: deployer
    state: present
    key: "{{ item }}"
  loop: "{{ ssh_authorized_keys }}"

# Даем sudo без пароля
- name: Allow deployer to use sudo without password
  copy:
    dest: /etc/sudoers.d/deployer
    content: "deployer ALL=(ALL) NOPASSWD:ALL\n"
    mode: '0440'

# Убеждаемся, что есть группа docker, чтобы работать с докером не от root
- name: Ensure Docker group exists
  become: yes
  ansible.builtin.group:
    name: docker
    state: present

# Даем группу docker пользователю
- name: Add deployer to docker group
  become: yes
  ansible.builtin.user:
    name: "{{ ansible_user }}"
    groups: docker
    append: yes

