:root {
    /* common */
    --page-bg-color: #121212;
    --page-header-bg-color: #1c1c1e;
    --header-title-color: #f8f8f8;
    --header-bg-color: #1c1c1e;

    /* pagination row */
    --pagination-row-bg-color: #3a3a3a;
    --pagination-row-arrow-color: #f8f8f8;
    --pagination-row-text-color: #f8f8f8;
    --pagination-row-arrow-color-active: #eea241;
    --pagination-row-text-color-active: #eea241;
    --pagination-row-border-color-active: #eea241;

    /* spots */
    --spot-changing-view-btn-icon-color: #535353;
    --spot-changing-view-btn-text-color: #535353;
    --spot-changing-view-btn-bg-color: #f8f8f8;
    --spot-changing-view-border-color: #eea241;
    --spot-changing-view-btn-shadow-color: rgba(0, 0, 0, 0.35);
    --spot-changing-view-btn-icon-color-active: #eea241;
    --spot-changing-view-btn-text-color-active: #eea241;

    /* form */
    --input-label-color: #535353;
    --input-bg-color: #181818;
    --input-color: #f8f8f8;
    --input-focus-outline-color: #ff7f0075;
    --input-submit-btn-bg-color: #ff912b;
    --input-submit-btn-color: #ffffff;
    --link-to-sign-up-color: #888487;
    --input-msg-error-color: #ff0000;

    /* bottom menu */
    --menu-icon-color: #c3c3c3;
    --active-menu-icon-color: #eea241;
    --menu-bg-color: #1c1c1e;
    --menu-item-title-color: #c3c3c3;
    --active-menu-item-title-color: #eea241;

    /* profile */
    --profile-block-bg-color: #1c1c1e;
    --profile-avatar-border-color: #c3c3c3;
    --profile-default-avatar-color: #c3c3c3;
    --profile-block-username-color: #c3c3c3;
    --profile-block-roles-color: #9f9f9f;
    --profile-link-color: #c3c3c3;
    --profile-link-divider-color: rgba(195, 195, 195, 0.25);
    --profile-item-focus-bg-color: rgba(195, 195, 195, 0.25);

    /* spot adding request instance */
    --spot-adding-request-text-info-color: #f8f8f8;
    --spot-adding-request-border-content-block-color: #757575;
    --spot-adding-request-inserted-date-add: #b3b3b5;
    --spot-adding-request-card-bg-color: #3a3a3a;
    --spot-adding-request-card-color: #f8f8f8;
}