:root {
    /* common */
    --page-bg-color: #121212;
    --header-title-color: #f8f8f8;
    --header-bg-color: #1c1c1e;

    /* form */
    --input-label-color: #535353;
    --input-bg-color: #181818;
    --input-color: #f8f8f8;
    --input-submit-btn-bg-color: #ff912b;
    --input-submit-btn-color: #ffffff;
    --link-to-sign-up-color: #888487;
    --input-msg-error-color: #ff0000;

    /* bottom menu */
    --active-menu-icon-color: #eea241;
    --menu-icon-color: #c3c3c3;
    --menu-bg-color: #1c1c1e;
    --menu-item-title-color: #c3c3c3;
}