:root {
    --nav-menu-height: 50px;
    --pagination-row-height: 50px;
    --settings-block-height: 50px;
    --spot-item-card-height: 180px;
    --range-input-height: 40px;
    --range-input-width: 60px;
}