.profile {
    padding: 0 8px;
}

/* Блок основной информации */
.profile-block {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    border-radius: 8px;
    padding: 10px;
    background: var(--profile-block-bg-color);
    color: var(--profile-block-username-color);
    margin-top: 8px;
}

.profile-block__avatar {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid var(--profile-avatar-border-color);
}

.profile-block__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-block__username {
    font-size: 30px;
}

.profile-block__roles {
    color: var(--profile-block-roles-color);
    text-align: center;
}

.profile-block__avatar path {
    fill: var(--profile-default-avatar-color);
}

/* Блок управления/ссылок */
.profile-management {
    width: 100%;
    border-radius: 8px;
    padding: 8px 0;
    background: var(--profile-block-bg-color);
    color: var(--profile-link-color);
    margin-top: 8px;
}

.profile-management__list-item {
    display: block;
    width: 100%;
    padding: 0 8px;
    transition: background-color 0.3s ease-in-out;
}

.profile-management__list-item:hover,
.profile-management__list-item:focus {
    background-color: var(--profile-item-focus-bg-color);
}

.profile-management__list li:not(:last-child)::after {
    /* Применяем границу ко всем элементам, кроме последнего */
    content: '';
    display: block;
    border-top: 1px solid var(--profile-link-divider-color);
}

.profile-management__list-item-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    color: var(--profile-link-color);
    padding: 10px 0;
}

.profile-management__list-item-link svg {
    height: 20px;
}

.profile-management__list-item svg path {
    fill: var(--profile-link-color);
}

.profile-management__list-item .svg-logout path {
    fill: transparent;
    stroke: var(--profile-link-color);
}