<VirtualHost *:80>
    ServerName {{ monitoring_domain_name }}

    ProxyPreserveHost On
    ProxyPass / http://127.0.0.1:3000/
    ProxyPassReverse / http://127.0.0.1:3000/

    ErrorLog /var/log/httpd/grafana_error.log
    CustomLog /var/log/httpd/grafana_access.log combined
</VirtualHost>