<VirtualHost *:80>
    ServerName {{ monitoring_domain_name }}

    RewriteEngine On
    RewriteRule ^ https://%{SERVER_NAME}%{REQUEST_URI} [END,NE,R=permanent]
</VirtualHost>
<VirtualHost *:443>
    ServerName {{ monitoring_domain_name }}

    SSLEngine on
    SSLCertificateFile /etc/letsencrypt/live/{{ monitoring_domain_name }}/fullchain.pem
    SSLCertificateKeyFile /etc/letsencrypt/live/{{ monitoring_domain_name }}/privkey.pem
    Include /etc/letsencrypt/options-ssl-apache.conf

    ProxyPreserveHost On
    ProxyPass / http://127.0.0.1:3000/
    ProxyPassReverse / http://127.0.0.1:3000/

    ErrorLog /var/log/httpd/grafana_error.log
    CustomLog /var/log/httpd/grafana_access.log combined
</VirtualHost>