body {
    font-family: PT Sans, Helvetica, Arial, sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    background: var(--page-bg-color);
    overflow: hidden;
}

.content {
    height: calc(100dvh - var(--nav-menu-height));
    background: var(--page-bg-color);
    margin-bottom: var(--nav-menu-height);
}

.content {
    width: 100%;
    /*height: 200%;*/
    overflow: auto; /* Включает скроллинг */
    scrollbar-width: thin; /* Для Firefox */
    scrollbar-color: transparent transparent; /* Для Firefox */
    transition: scrollbar-color 0.3s ease;
}

/* Для Webkit-браузеров (Chrome, Safari) */
.content::-webkit-scrollbar {
    width: 8px;
    opacity: 0; /* Скроллбар невидим по умолчанию */
    transition: opacity 0.3s ease;
}

.content::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5); /* Цвет скроллбара */
    border-radius: 10px;
}

.header-title {
    height: 80px;
    width: 100%;
    background-color: var(--page-header-bg-color);
    color: var(--header-title-color);
    font-size: 32px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    padding: 0 8px 25px 8px;
}

.input-label {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.input-label__label {
    font-size: 20px;
    color: var(--input-label-color);
}

.input-label__input {
    background-color: var(--input-bg-color);
    border-radius: 8px;
    height: 50px;
    width: 100%;
    border: none;
    padding: 15px;
    font-size: 20px;
    color: var(--input-color);
}

.input-label__input:focus {
    outline: 2px solid var(--input-focus-outline-color);
}

.input-submit-btn {
    color: var(--input-submit-btn-color);
    background-color: var(--input-submit-btn-bg-color);
    border-radius: 8px;
    height: 50px;
    width: 100%;
    border: none;
    margin-top: 20px;
}

.sign-in-form .link-to-sign-up,
.sign-up-form .link-to-sign-in {
    color: var(--link-to-sign-up-color);
    font-size: 16px;
    margin: 20px auto 0 auto;
    text-align: center;
    display: block;
}

.input-msg-error {
    color: var(--input-msg-error-color);
}

svg:not(:root) {
    overflow: hidden;
}

a {
    text-decoration: none;
}