
.filter-modal__header,
.filter-modal__body,
.filter-modal__footer {
    background-color: var(--modal-bg-color);
    border-color: var(--modal-border-color);
}

.filter-modal__header {
    color: var(--modal-text-color);
}

.filter-modal__btn-close {
    height: 20px;
    width: 20px;
    display: block;
    margin-left: auto;
}

.filter-modal__btn-close path {
    stroke: var(--modal-close-btn-color);
}