
body {
    overflow-y: hidden;
}

main {
    height: calc(100% - 50px);

    display: flex;
    flex-direction: column;
}

.search-block {
    display: flex;
    flex-direction: column;
    padding: 10px;
    outline: 1px solid black;
    height: 90px; /* сумма */
    width: 100%;
}

.search-block__search {
    height: 36px;
}

.search-block__search .search-block__input {
    height: 100%;
    width: 100%;
}

.search-block__settings {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.spots {
    position: fixed;
    top: 90px;
    bottom: 50px;
    left: 0;
    right: 0;
    width: 100%;
    outline: 1px inset orange;
    overflow: auto;
}

.spot__map {
    height: 100%;
    width: 100%;
    background-color: darkseagreen;
}

.spot__list-wrapper {
    overflow-y: auto;
    width: 100%;
}

.spot__item-img-wrapper {
    height: 100%;
    width:  40%;
}

.spot__item-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.spot__item-card {
    flex-direction: row;
    margin-left: 10px;
    margin-right: 10px;
    width: calc(100% - 20px);
    height: 180px;
    padding: 8px;
    background-color: var(--spot-adding-request-card-bg-color);
    color: var(--spot-adding-request-card-color);
}

.spot__item-info {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 5px;
    margin-left: 10px;
}

.spot__item-inserted-date {
    color: var(--spot-adding-request-inserted-date-add);
}

.view-changing-btn {
    position: fixed;
    left: 30px;
    bottom: 80px;
    padding: 2px 7px;
    border-radius: 15px;
    display: block;
}

.view-changing-btn:hover {
    cursor: pointer;
}
