.spot-adding-request__list-item-img {
    height: 35dvw;
    width:  35dvw;
    object-fit: cover;
}

.spot-adding-request__list-item-card {
    flex-direction: row;
}

.spot-adding-request__list-item-card-info {
    height: 35vw;
    width: 65vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}