<!DOCTYPE html>
<html lang="ru"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:layout="http://www.ulisse.it/thymeleaf-layout-dialect"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Profile страница</title>
</head>
<body>
<div layout:fragment="content">
    <h2>Профиль</h2>
    <div>
        Logged user: <span sec:authentication="name">Place for principle name</span>
        Roles: <span sec:authentication="principal.authorities">Place for principle roles</span>
    </div>
    <div>
        <ul>
            <li>
                <a href="/spot-adding-request-list">Мои заявки</a>
            </li>
            <li sec:authorize="hasAuthority('ACCEPTOR')">
                <a href="/spot-adding-request-list?status=PENDING_APPROVAL">Новые заявки</a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <a href="/logout">Выйти</a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>