<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Регистрация</title>
</head>
<body>
<h1>Регистрация</h1>

<!-- Форма регистрации -->
<form th:object="${user}" th:action="@{/register}" method="post">
  <!-- Сообщения об ошибках -->
  <div th:if="${#fields.hasErrors('*')}" style="color: red;">
    Произошли ошибки при заполнении формы.<br/>
    <ul>
      <li th:each="err : ${#fields.errors('*')}">[[${err}]]</li>
    </ul>
  </div>

  <label for="username">Логин:</label><br/>
  <input type="text" id="username" th:field="*{username}"/>
  <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" style="color: red;">Ошибка!</span><br/><br/>

  <label for="rawPassword">Пароль:</label><br/>
  <input type="password" id="rawPassword" th:field="*{rawPassword}"/>
  <span th:if="${#fields.hasErrors('rawPassword')}" th:errors="*{rawPassword}" style="color: red;">Ошибка!</span><br/><br/>

  <button type="submit">Зарегистрироваться</button>
</form>

</body>
</html>