<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ulisse.it/thymeleaf-layout-dialect"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Sign-in страница</title>
</head>
<body>
<div layout:fragment="content" class="content">
    <h2 class="header-title">Вход</h2>
    <div th:if="${param.error}">
        Неверное имя или пароль</div>
    <div th:if="${param.logout}">
        Вы вышли</div>
    <form th:replace="fragments/forms/sign-in :: form">
        place for custom sign-in form
    </form>
</div>
</body>
</html>