<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ulisse.it/thymeleaf-layout-dialect"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Spots страница</title>

    <script src="https://api-maps.yandex.ru/v3/?apikey=b9ae7ce3-4f8e-4018-ae49-7751e42c5c25&lang=ru_RU"
            defer th:if="${viewMode == 'YMAP'}"></script>
    <script src="/js/location-util.js" defer th:if="${viewMode == 'YMAP'}"></script>
    <script src="/js/ymap.js" defer th:if="${viewMode == 'YMAP'}"></script>
    <link href="/css/spot-list-map.css" type="text/css" rel="stylesheet">
    <link href="/css/pagination.css" type="text/css" rel="stylesheet">
    <link href="/css/nav.css" type="text/css" rel="stylesheet">
    <link href="/css/filters.css" type="text/css" rel="stylesheet">
</head>
<body>
    <main layout:fragment="content" class="content">
        <div class="search-block">
<!--            <div class="search-block__search">-->
<!--                <input class="search-block__input" type="text" placeholder="Поиск"/>-->
<!--            </div>-->
            <div class="search-block__settings">
                <div class="search-block__sort">Сортировка</div>
                <div class="search-block__filters"
                     data-bs-toggle="modal" data-bs-target="#filterModal">Фильтры</div>
            </div>
        </div>
        <div class="spots">
            <div class="spot__map" id="spot-map-container-id" defer th:if="${viewMode == 'YMAP'}">
                <div id="yandex-map-id" style="width: 100%; height: 100%"></div>
                <a th:href="@{'/spots?pageNumber=0&pageSize=10&viewMode=CARDS'}"
                   class="view-changing-btn">
                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4 17H11" stroke="#000000" stroke-width="1.5" stroke-linecap="round"/>
                        <path d="M4 12L11 12" stroke="#000000" stroke-width="1.5" stroke-linecap="round"/>
                        <path d="M4 7L11 7" stroke="#000000" stroke-width="1.5" stroke-linecap="round"/>
                        <path d="M17 4L17 20M17 4L14 8M17 4L20 8M17 20L20 16M17 20L14 16" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <div class="view-changing-btn__text">список</div>
                </a>
            </div>
            <div class="spot__list-wrapper" id="spot-list-container-id" th:if="${viewMode == 'CARDS'}">
                <div class="container mt-3 mb-3">
                    <div class="row row-cols-1 g-3 spot__list"
                         th:if="${viewMode == 'CARDS'}">
                        <th:block th:each="item : ${spotList.content}">
                            <a th:href="@{/spot/{spotId}(spotId=${item.id()})}"
                               class="col card card-container shadow-sm rounded spot__item-card">
                                <div class="spot__item-img-wrapper">
                                    <img th:src="${item.firstImageLink()}" alt="spot image"
                                         class="rounded d-block spot__item-img"/>
                                </div>
                                <div class="spot__item-info">
                                    <h5 class="mt-2" th:text="${item.name()}"></h5>
                                    <div class="spot__item-inserted-date"
                                         th:text="${item.insertedAt()}"></div>
                                </div>
                            </a>
                        </th:block>
                    </div>
                    <div th:if="${#lists.isEmpty(spotList.content)}">
                        Нет доступных мест.
                    </div>
                </div>
                <a th:href="@{'/spots?viewMode=YMAP'}" class="view-changing-btn">
                    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 6H12.01M9 20L3 17V4L5 5M9 20L15 17M9 20V14M15 17L21 20V7L19 6M15 17V14M15 6.2C15 7.96731 13.5 9.4 12 11C10.5 9.4 9 7.96731 9 6.2C9 4.43269 10.3431 3 12 3C13.6569 3 15 4.43269 15 6.2Z" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <div class="view-changing-btn__text">карта</div>
                </a>
            </div>
            <!-- Добавляем навигацию по страницам -->
            <th:block th:if="${viewMode == 'CARDS'}">
                <nav th:replace="fragments/pagination :: paginationRow(
                                    pageable=${spotList}, paginationUrl='/spots', totalItemsLabel='Найдено спотов')">
                    place for list pagination
                </nav>
            </th:block>
        </div>
        <div th:replace="fragments/toast :: liveToast(
                        message='Для нескольких спотов пока недоступно, приблизьте карту', header='⚠️ Уведомление')">
            place for toast
        </div>
        <div th:replace="fragments/modals/filters :: filters-modal">
            place for filters
        </div>
    </main>
</body>
</html>