<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ulisse.it/thymeleaf-layout-dialect"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Spot adding request list page</title>
    <link href="/css/spot-adding-request.css" rel="stylesheet">
</head>
<body>
<div layout:fragment="content" class="content">
    <h2 class="header-title">Мои заявки</h2>

    <div>
<!--        <div>sort</div>-->
<!--        <div>filter</div>-->

        <div class="container mt-3 mb-3">
            <div class="row row-cols-1 g-3 spot-adding-request__list">
                <th:block th:each="item : ${minSpotAddingRequestList}">
                    <a th:href="@{/spot-adding-request/{scrId}(scrId=${item.id()})}"
                       class="col card card-container shadow-sm rounded spot-adding-request__item-card">
                        <div class="spot-adding-request__item-img-wrapper">
                            <img th:src="${item.firstImageLink()}" alt="spot image"
                                 class="rounded d-block spot-adding-request__item-img"/>
                        </div>
                        <div class="spot-adding-request__item-info">
                            <h5 class="mt-2" th:text="${item.spotName()}"></h5>
                            <div>
                                <th:block th:if="${item.status() == 'PENDING_APPROVAL'}">⏳ Проверяется</th:block>
                                <th:block th:if="${item.status() == 'ACCEPTED'}">✅ Одобрено</th:block>
                                <th:block th:if="${item.status() == 'REJECTED'}">🚫 Отклонено</th:block>
                            </div>
                            <div class="spot-adding-request__item-inserted-date"
                                 th:text="${item.insertedAt()}"></div>
                        </div>
                    </a>
                </th:block>
            </div>
        </div>
    </div>
</div>
</body>
</html>