<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ulisse.it/thymeleaf-layout-dialect"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Sign-in form fragment</title>
</head>
<body>
  <form layout:fragment="form" action="/sign-in" method="post">
    <div>
      <input type="text" name="username" placeholder="Логин"/>
    </div>
    <div>
      <input type="password" name="password" placeholder="Пароль"/>
    </div>
    <input type="submit" value="Войти" />
  </form>
</body>
</html>
