<!-- пока тут лишняя информация (не только форма)-->
<div th:fragment="sign-up(user)">
  <h1>Регистрация</h1>

  <!-- Форма регистрации -->
  <form th:object="${user}" th:action="@{/sign-up}" method="post">
    <!-- Сообщения об ошибках -->
    <div th:if="${#fields.hasErrors('*')}" style="color: red;">
      Произошли ошибки при заполнении формы.<br/>
      <ul>
        <li th:each="err : ${#fields.errors('*')}">[[${err}]]</li>
      </ul>
    </div>

    <label for="username">Логин:</label><br/>
    <input type="text" id="username" th:field="*{username}"/>
    <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" style="color: red;">Ошибка!</span><br/><br/>

    <label for="rawPassword">Пароль:</label><br/>
    <input type="password" id="rawPassword" th:field="*{rawPassword}"/>
    <span th:if="${#fields.hasErrors('rawPassword')}" th:errors="*{rawPassword}" style="color: red;">Ошибка!</span><br/><br/>

    <button type="submit">Зарегистрироваться</button>
  </form>

</div>