<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ulisse.it/thymeleaf-layout-dialect"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Logout form fragment</title>
</head>
<body>
  <form layout:fragment="form"
        action="/spot-adding-request"
        method="post"
        enctype="multipart/form-data"
        th:object="${formData}">
    <div>
      <label for="spotName">Название спота:</label><br/>
      <input type="text" id="spotName" name="spotName" required placeholder="Введите название" autofocus th:field="*{spotName}"/><br/><br/>
    </div>

    <div>
      <label>Выбор точки на карте:</label><br/>
      <div id="yandex-map-id" style="width: 100%; height: 400px; margin-bottom: 1rem;"></div>
    </div>

    <!-- Поля для хранения выбранных координат (скрытые) -->
    <input type="hidden" id="lon" name="lon" th:field="*{spotLon}"/>
    <input type="hidden" id="lat" name="lat" th:field="*{spotLat}"/>

    <div>
      <label for="description">Описание:</label><br/>
      <textarea rows="4" cols="50" id="description" name="description" required placeholder="Опишите спот" th:field="*{spotDescription}"></textarea><br/><br/>
    </div>

    <div>
      <label for="comment">Комментарий:</label><br/>
      <textarea rows="4" cols="50" id="comment" name="comment" required placeholder="Дополнительные комментарии" th:field="*{comment}"></textarea><br/><br/>
    </div>

    <div>
      <label for="photos">Фотографии (можно выбрать несколько изображений):</label><br/>
      <input type="file" multiple id="photos" name="photos" accept="image/*" th:field="*{files}"/><br/><br/>
    </div>

    <button type="submit">Отправить заявку</button>
  </form>
</body>
</html>
