<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ulisse.it/thymeleaf-layout-dialect"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Logout form fragment</title>
</head>
<body>
  <form layout:fragment="form"
        action="/spot-adding-request"
        method="post"
        enctype="multipart/form-data"
        th:object="${formData}">
    <div>
      <label for="spotName">Название спота:</label><br/>
      <input type="text" id="spotName" name="spotName" required placeholder="Введите название" autofocus th:field="*{spotName}"/><br/><br/>
    </div>

    <div>
      <label for="lat">Широта:</label><br/>
      <input type="number" step="any" id="lat" name="lat" required placeholder="Широта" th:field="*{spotLat}"/><br/><br/>
    </div>

    <div>
      <label for="lon">Долгота:</label><br/>
      <input type="number" step="any" id="lon" name="lon" required placeholder="Долгота" th:field="*{spotLon}"/><br/><br/>
    </div>

    <div>
      <label for="description">Описание:</label><br/>
      <textarea rows="4" cols="50" id="description" name="description" required placeholder="Опишите спот" th:field="*{spotDescription}"></textarea><br/><br/>
    </div>

    <div>
      <label for="comment">Комментарий:</label><br/>
      <textarea rows="4" cols="50" id="comment" name="comment" required placeholder="Дополнительные комментарии" th:field="*{comment}"></textarea><br/><br/>
    </div>

    <div>
      <label for="photos">Фотографии (можно выбрать несколько изображений):</label><br/>
      <input type="file" multiple id="photos" name="photos" accept="image/*" th:field="*{files}"/><br/><br/>
    </div>

    <button type="submit">Отправить заявку</button>
  </form>
</body>
</html>
