<!--/*@thymesVar id="successMessage" type="java.lang.String"*/-->
<!--/*@thymesVar id="warnMessage" type="java.lang.String"*/-->
<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ulisse.it/thymeleaf-layout-dialect"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Sign-in страница</title>
</head>
<body>
<div layout:fragment="content" class="content">
    <h2 class="header-title">Вход</h2>
    <div class="alert alert-success text-center h-m-8px"
         th:if="${successMessage != null}" th:text="${successMessage}">
    </div>
    <div class="alert alert-warning text-center h-m-8px"
         th:if="${warnMessage != null}" th:text="${warnMessage}">
    </div>
    <form th:replace="~{fragments/forms/sign-in :: form}">
        place for custom sign-in form
    </form>
</div>
</body>
</html>