<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ulisse.it/thymeleaf-layout-dialect"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Spot adding request страница</title>
    <link href="/css/map_for_instance.css" type="text/css" rel="stylesheet">
</head>
<body>
<div layout:fragment="content" class="content">
    <h2 class="header-title">Добавление спота</h2>
    <form th:replace="~{fragments/forms/spot-adding-request :: form}">
        place for custom spot-adding-request form
    </form>
</div>
</body>
</html>