<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:layout="http://www.ulisse.it/thymeleaf-layout-dialect"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Spot adding request instance страница</title>
    <link href="/css/spot-adding-request-instance.css" type="text/css" rel="stylesheet">
    <script sec:authorize="hasAuthority('ACCEPTOR')"
            th:if="${spotAddingRequest.status() == 'PENDING_APPROVAL'}">
        const baseUrl = '[[${baseUrl}]]';
        const spotAddingRequestId = '[[${spotAddingRequestId}]]';
    </script>
    <script src="/js/lib/axios.min.js"></script>
    <script src="/js/fetch.js"
            sec:authorize="hasAuthority('ACCEPTOR')"
            th:if="${spotAddingRequest.status() == 'PENDING_APPROVAL'}"></script>
    <script src="/js/acceptor/spot-adding-request-instance.js" defer
            sec:authorize="hasAuthority('ACCEPTOR')"
            th:if="${spotAddingRequest.status() == 'PENDING_APPROVAL'}"></script>
    <script src="/js/spot-placeholder.js" defer></script>
    <link href="/css/img-placeholder.css" type="text/css" rel="stylesheet">
</head>
<body>
<div layout:fragment="content" class="content">
    <h2 th:text="${spotAddingRequest.spotName()}" class="header-title"></h2>
    <div th:if="${#lists.isEmpty(spotAddingRequest.spotImageLinks())}">
        Картинки для спота отсутствуют
    </div>
    <div th:if="${not #lists.isEmpty(spotAddingRequest.spotImageLinks())}"
         id="spotImageCarouselWithIndicators" class="carousel slide" data-bs-interval="false">
        <div th:if="${#lists.size(spotAddingRequest.spotImageLinks()) > 1}"
             class="carousel-indicators">
            <button th:each="imageLink,iterStat : ${spotAddingRequest.spotImageLinks()}"
                    type="button" data-bs-target="#spotImageCarouselWithIndicators"
                    th:data-bs-slide-to="${iterStat.index}"
                    th:classappend="${iterStat.first ? 'active' : ''}">
            </button>
        </div>
        <div class="carousel-inner">
            <div th:each="imageLink,iterStat : ${spotAddingRequest.spotImageLinks()}"
                 class="carousel-item"
                 th:classappend="${iterStat.index == 0 ? 'active' : ''}">
                <div class="spot__item-img-wrapper img-placeholder__wrapper">
                    <div class="img-placeholder__bg"></div>
                    <div class="img-placeholder__shimmer"></div>
                    <img th:src="${imageLink}" class="spot-adding-request__carousel-img spot__carousel-img
                        rounded d-block spot__item-img img-placeholder__original-img" alt="spot image">
                </div>
            </div>
        </div>
        <button th:if="${#lists.size(spotAddingRequest.spotImageLinks()) > 1}"
                class="carousel-control-prev" type="button"
                data-bs-target="#spotImageCarouselWithIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" ></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button th:if="${#lists.size(spotAddingRequest.spotImageLinks()) > 1}"
                class="carousel-control-next" type="button"
                data-bs-target="#spotImageCarouselWithIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" ></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="spot-adding-request__info">
        <div class="spot-adding-request__info-content spot-adding-request__info-status">
            <div>
                <th:block th:if="${spotAddingRequest.status() == 'PENDING_APPROVAL'}">⏳ Проверяется</th:block>
                <th:block th:if="${spotAddingRequest.status() == 'ACCEPTED'}">✅ Одобрено</th:block>
                <th:block th:if="${spotAddingRequest.status() == 'REJECTED'}">🚫 Отклонено</th:block>
            </div>
            <div class="spot-adding-request__acceptor-management spot-adding-request__info-content"
                 th:if="${spotAddingRequest.status() == 'PENDING_APPROVAL'}">
                <button sec:authorize="hasAuthority('ACCEPTOR')"
                        type="button" class="btn btn-success"
                        id="spotAddingRequestBtnAcceptId">Принять</button>
                <button sec:authorize="hasAuthority('ACCEPTOR')"
                        type="button" class="btn btn-danger spot-adding-request__btn-reject"
                        id="spotAddingRequestBtnRejectId">Отклонить</button>
            </div>
        </div>
        <a th:if="${spotAddingRequest.spotId() != null}"
           th:href="@{/spot/{spotId}(spotId=${spotAddingRequest.spotId()})}">Перейти к споту</a>

        <h3 class="spot-adding-request__info-header">📌 Описание</h3>
        <div class="spot-adding-request__info-content spot-adding-request__info-desc"
             th:text="${spotAddingRequest.spotDescription()}"></div>

<!--        <h3 class="spot-adding-request__info-header">🗺 Населенный пункт</h3>-->
<!--        <div class="spot-adding-request__info-content"><th:block th:text="${spotAddingRequest.city()}"></th:block></div>-->

        <div class="spot-adding-request__inserted-date" th:text="${spotAddingRequest.insertedAt()}"></div>
    </div>
</div>

</body>
</html>