:root {
    --spot-list-center-offset-y: var(0); /* задается через js */
    --spot-list-top-offset-y: var(0); /* задается через js */
    --spot-list-center-height: var(0); /* задается через js */
    --spot-list-top-height: var(0); /* задается через js */
}

.spot-list__card-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
    margin-bottom: 20px;
}

.spot-list__card {
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    max-width: 300px;
    min-height: 200px;
    background-color: white;
    transition: transform 0.3s ease-in-out;
    display: block;
}

.spot-list__card h3 {
    font-size: 1.2em;
    color: navy;
}

.spot-list__img {
    max-width: 50%;
    height: auto;
    object-fit: cover;
}

.spot-list__card:hover {
    transform: scale(1.05);
}

/**/

.search-block {
    display: flex;
    flex-direction: column;
    padding: 10px;
    outline: 1px solid black;
    height: 90px; /* сумма */
    width: 100%;
    z-index: 50;
}

.search-block__search {
    height: 36px;
}

.search-block__search .search-block__input {
    height: 100%;
    width: 100%;
}

.search-block__settings {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.map-list {
    position: relative;
    height: calc(100vh - 90px - 50px); /* отняли поиск 90px и меню 50px */
    width: 100vw;
    outline: 1px inset orange;
    overflow: hidden;
}

.map-list__map {
    height: calc(100vh - 90px - 50px); /* отняли поиск 90px и меню 50px */
    width: 100%;
    background-color: darkseagreen;
    border-radius: 15px;
}

.map-list__list {
    border-radius: 15px;
    /*border-top-left-radius: 10px;*/
    /*border-top-right-radius: 10px;*/

    width: 100%;
    background-color: darkcyan;
    overflow-y: auto;
}

.spot-list__sticky-top {
    transform: translateY(var(--spot-list-top-offset-y));
    height: var(--spot-list-top-height);
}

.spot-list__sticky-center {
    transform: translateY(var(--spot-list-center-offset-y));
    height: var(--spot-list-center-height);
}

.spot-list__sticky-bottom {
    transform: translateY(0);
    max-height: 0;
}

.spot-list__moving {
    height: var(--spot-list-top-height);
}
