
.spot-list__card-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
    margin-bottom: 20px;
}

.spot-list__card {
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    max-width: 300px;
    min-height: 200px;
    background-color: white;
    transition: transform 0.3s ease-in-out;
    display: block;
}

.spot-list__card h3 {
    font-size: 1.2em;
    color: navy;
}

.spot-list__img {
    max-width: 50%;
    height: auto;
    object-fit: cover;
}

.spot-list__card:hover {
    transform: scale(1.05);
}

/**/

body {
    overflow-y: hidden;
}

main {
    height: calc(100% - 50px);

    display: flex;
    flex-direction: column;
}

.search-block {
    display: flex;
    flex-direction: column;
    padding: 10px;
    outline: 1px solid black;
    height: 90px; /* сумма */
    width: 100%;
}

.search-block__search {
    height: 36px;
}

.search-block__search .search-block__input {
    height: 100%;
    width: 100%;
}

.search-block__settings {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.map-list {
    position: fixed;
    top: 90px;
    bottom: 50px;
    left: 0;
    right: 0;
    /*flex-grow: 1; !* Растягиваемый блок контента *!*/

    width: 100vw;
    outline: 1px inset orange;
    overflow: hidden;
}

.map-list__map {
    height: 100%;
    width: 100%;
    background-color: darkseagreen;
    border-radius: 15px;
}

.map-list__list {
    overflow-y: auto;
    border-radius: 15px;
    height: 100%;
    width: 100%;
    background-color: darkcyan;
}

.view-changing-btn {
    position: fixed;
    left: 30px;
    bottom: 80px;
    padding: 2px 7px;
    border-radius: 15px;
    display: block;
}

.view-changing-btn:hover {
    cursor: pointer;
}
